---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MetaHead from '../components/MetaHead.astro';
import Comment from '../components/Comment.astro';
import ImageZoomScript from '../components/ImageZoomScript.astro';
import MusicPlayer from '../components/MusicPlayer.astro';
import "../styles/global.css";

const { pageTitle, frontmatter = {}, showTitle = false } = Astro.props;
const {
  title = pageTitle,
  description = '幸せは食べて、寝て、人生を楽しんで待て',
  slug = '',
  image = 'https://changingmoments.one/favicon.ico'
} = frontmatter;
---

<html lang="zh-cn">
  <MetaHead title={title} description={description} slug={slug} image={image} />
  <body>
    <div class="container">
      <Header />
      <main class="page-body">
        {(showTitle || Astro.url.pathname === '/') && <h1>{pageTitle}</h1>}
        <slot />
      </main>

      <Comment />
      <ImageZoomScript />
      <Footer />
    </div>

    <MusicPlayer />
  </body>
</html>
