---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p class="post-meta">
    <span>{frontmatter.pubDate.toString().slice(0, 10)}</span>
    <span>· {frontmatter.tags}</span>
    <span>· {frontmatter.wordCount}字</span>
    <span>· 预计阅读{frontmatter.readTime}分钟</span>
  </p>
  <slot />
</BaseLayout>

<style>
  .page-title {
  font-size: 2em;
  font-weight: 700;
}

  /* 图片适应父容器宽度 */
  img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* 正文字体不加粗 */
  body {
    font-weight: normal; /* 禁用加粗 */
  }

  /* 字数显示的样式 */
  p span {
    font-size: 0.9em;
    color: #888;
    margin-left: 1em;
  }

  .post-meta {
  margin-bottom: 1em;
}
</style>
