---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
const { title, description, pubDate, tags, wordCount, readTime } = frontmatter;
// 自动生成 slug
const slug = Astro.url.pathname.split('/').filter(Boolean).pop();
frontmatter.slug = slug;
// 设置默认 image，如果 frontmatter.image 没写就自动设为 og/slug.png
frontmatter.image = frontmatter.image || 'https://changingmoments.one/favicon.ico';
---

<BaseLayout frontmatter={frontmatter}>
  <h1 class="page-title">{title}</h1>
  {description && <p><em>{description}</em></p>}
  <p class="post-meta">
    <span>{pubDate.toString().slice(0, 10)}</span>
    {tags && <span>· {tags.join(', ')}</span>}
    <span>· {wordCount}字</span>
    <span>· 预计阅读{readTime}分钟</span>
  </p>
  <article class="post-content">
    <slot />
  </article>
</BaseLayout>

<style>
.page-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.post-meta span {
  font-size: 0.9em;
  color: #888;
  margin-left: 1em;
}

.post-meta {
  margin-bottom: 1.5rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
</style>
